# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Android / IDE
local.properties
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

# Segreti e ambiente
.env
*.keystore
*.jks
